{{- $name := "otp" -}}
app:
  # Defines the default name for the image repository.
  # If public access is enabled this name is used to form the FQDN.
  name: {{ $name }}
  componentName: server

  image:
    tag: "{{ .App.imageTag }}"

  monitoring:
    prometheus:
      enabled: true
      createPort: false
      portName: http
      path: /otp/actuators/prometheus
      serviceMonitor:
        enabled: true

  readinessProbe:
    failureThreshold: 15
    path: /otp/actuators/health

  livenessProbe:
    failureThreshold: 12
    initialDelaySeconds: 60
    path: /otp/actuators/health

  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: "arn:aws:iam::{{ .Environment.awsAccountID }}:role/{{ .Environment.clusterName | replace "_" "."}}.{{ $name }}.role"

  # Airflow uses otp-server SA to restart the deployment after completing a new build so the new build for OTP is picked up by the deployment.
  rbac:
    enabled: true
    rules:
      - apiGroups: ["apps", "extensions"]
        resources: ["deployments"]
        resourceNames: ["otp-server"]
        verbs: ["get", "list", "watch", "patch"]

  volumeMounts:
    - name: build
      mountPath: /build

  volumes:
    - name: build
      emptyDir:
        sizeLimit: 5Gi

  environment:
    ENVIRONMENT: "{{ .Environment.envName }}"
    NEW_RELIC_APP_NAME: "{{ .App.Name }}-{{ .Environment.envShort }}"
    NEW_RELIC_LABELS: "env:{{ .Environment.envName }};service:{{ .App.Name }};version:$(APP_VERSION)"
    NEW_RELIC_ENABLED: true

  environmentFrom:
    - name: NEW_RELIC_LICENSE_KEY
      valueFrom:
        secretKeyRef:
          name: newrelic-license-key
          key: license-key
